@charset "UTF-8";

@media screen and (min-width:700px) and (max-width: 1024px){
    
    html,body{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;        
    }

    header{
        padding-left: 60px;
        padding-right: 30px;
    }

    main{
        padding: 0px;
    }

    section{
        padding-left: 80px;
        padding-right: 80px;
    }

    #section1{
        max-width: 610px;
    }

    #section2{
        gap: 40px;
    }

    #section3, #section4{
        max-width: 100%;
    }

    #section4 { 
        margin-left: 0px;
    }

    footer{
        padding-left: 60px;
        padding-right: 30px;
        margin: 0px;
    }

    
}